    <!-- <nav class="navbar" >
      NAVBAR
    </nav> -->
    <!-- <h1 class="head" >SUV</h1>
    <h4 class="head" >TRAVEL IN COMFORT</h4>
  -->
  <div class="head">
    <h1>SUV</h1>
    </div>
    <div class="subhead">
        <h6>Travel in comfort with our SUV's</h6>
    </div>
    <div class="container-fluid py-5">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-1">
            
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">Range Rover</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">BMW X5</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">Opel Mokka</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">Benz G63 AMG</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">Nissan Qashqai</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/suv.webp" alt="">
                <div class="card-body">
                  <h5 class="card-title">Audi Q7</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

        </div>
        <br>


        <!-- ROW 2 -->
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Tiguan</h5>
                    <button class="btn btn-primary" >R927.00</button>

                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">BMW X5</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Opel Mokka</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Benz G63 AMG</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">NISSAN QASHQAI</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/suv.webp" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Porshe</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
          </div>

          
      </div>
