.btn{
    width: 90%;
    background-color: #FFBE16!important;
    border-style: none;
    border-radius: 1rem;
    // margin-left: -1.3rem;
    color: black;

}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body .card-title{
    text-align: center;
    font-weight: lighter;
}

.subhead{
    display: flex;
    justify-content: center;
    align-items: center;
}
