<!-- 
<div class="container">
    <Form>
        <ul>
            <div class="d-flex justify-content-center">
            
                <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">REGISTER</h5>
                    <div class="input-group col-auto mb-3">
                        <div class="input-group-prepend">
                          <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="FIRST NAME" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="LAST NAME" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="PASSWORD" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="CONFIRM PASSWORD" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                  <div class="col-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="text mb-3 text-white form-check-label" for="autoSizingCheck">
                        Terms & Conditions
                      </label>
                    </div>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn">REGISTER</button>
                  </div>
                  <label for="verirfy" class="text text-white form-label">Already Registered?</label>
                  <a href="#" class="login text-decoration-none"> LOGIN</a>
                </div>
              </div>
        </div>
        </ul>
    </Form>
    
    <Form>
        <ul>
            <div class="d-flex justify-content-center">
            
                <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">LOGIN</h5>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="PASSWORD" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="col-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="text mb-3 text-white form-check-label" for="autoSizingCheck">
                        Remember me
                      </label>
                      <a href="#" class="text text-white text-decoration-none"> Forgot password</a>
                    </div>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn"> LOGIN</button>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn">REGISTER</button>
                  </div>
                </div>
              </div>
        </div>
        </ul>
    </Form>
</div>





   -->

   <router-outlet></router-outlet>
   <lib-ng-toast></lib-ng-toast>