.side-nav
{
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--main-bg);
    height: 1400px;
}
span
{
    font-size: 15px;
}
span i{
    font-size: 20px;
}
a{
   color: var(--white);
}
a:hover
{
    color: var(--yellow);
}

@media screen and (max-width: 600px) {
    .side-nav
    {
        width: 69px;
        background-color: var(--main-bg);
        margin-left: -10px;
    }
    span
    {
        font-size: 10px;
    }
    span i{
        font-size: 12px;
    }
  }