<!-- <div class="mycontainer w-100">
    <Form [formGroup] = "AddUserForm" novalidate> 
        <ul>
            <div class="d-flex justify-content-center mx-auto w-100">
            
                <div class="card text-center mt-5">
                <div class="card-body">
                  <h5 class="card-title">REGISTER</h5>
                    <div class="input-group col-auto mb-3">
                        <div class="input-group-prepend">
                          <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input formControlName="firstname" 
                        style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="FIRST NAME"  aria-describedby="basic-addon1"
                        [ngClass]="{ 'is-invalid': submitted && formValidation['firstname'].errors }"
                        />

                        <div *ngIf="submitted && formValidation['firstname'].errors" class="invalid-feedback">
                          <div *ngIf="formValidation['firstname'].errors['required']">Firstname is required</div>
                        </div>
                    </div>

                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                    </div>
                    <input formControlName="lastname"  style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="LAST NAME" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['lastname'].errors }"
                    />

                    <div *ngIf="submitted && formValidation['lastname'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['lastname'].errors['required']">Lastname is required</div>
                    </div>
                  </div>

                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                    </div>
                    <input formControlName="phone" class="font-weight-light form-control" placeholder="PHONE" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['phone'].errors }"
                    />
                    <div *ngIf="submitted && formValidation['phone'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['phone'].errors['required']">Phone is required</div>
                      <div *ngIf="formValidation['phone'].errors['minlength']">
                        Phone must be at least 10 characters
                      </div>
                      <div *ngIf="formValidation['phone'].errors['maxlength']">
                        Phone must not exceed 10 characters
                      </div>
                    </div>
                </div>

                <div class="input-group col-auto mb-3">
                  <div class="input-group-prepend">
                    <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                  </div>
                  <input formControlName="email" style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"
                  />
                  <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                    <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                  </div>

              </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input formControlName="password"  style="border-left: none;" type="password" class="font-weight-light form-control" placeholder="PASSWORD" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['password'].errors }"
                    />

                    <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['password'].errors['required']">Password is required</div>
                    </div>
                </div>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input formControlName="confirmPass"  style="border-left: none;" type="password" class="font-weight-light form-control" placeholder="CONFIRM PASSWORD" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['confirmPass'].errors }"
                    />

                    <div *ngIf="submitted && formValidation['confirmPass'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['confirmPass'].errors['confirmPass']">Password is required</div>
                    </div>
                </div>
                  <div class="col-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="text mb-3 text-white form-check-label" for="autoSizingCheck">
                        Terms & Conditions
                      </label>
                    </div>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn" (click)="AddUser()">REGISTER</button>
                  </div>
                  <div class="alreadyREG">
                    <label for="verirfy" class="text text-white form-label">Already Registered?</label>
                  <a [routerLink]="['/login']" class="login text-decoration-none"> LOGIN</a>

                  </div>
                  
                </div>
              </div>
        </div>
        </ul>
    </Form>
</div> -->


<div class="container">

 

  <html>
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>

</head>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Zwiendedzi</a></h1>
           <!-- <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Zwiendedzi</a></h1> -->
        </div>
    
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Sign in to your account</span>
              <form id="stripe-login" [formGroup] = "AddUserForm" novalidate>

                <div class="field padding-bottom--18">
                  <label for="email">First Name</label>
                  <input formControlName="firstname" type="email" name="email"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['firstname'].errors }">

                  <div *ngIf="submitted && formValidation['firstname'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['firstname'].errors['required']">Firstname is required</div>
                  </div>
                </div>

                <div class="field padding-bottom--18">
                  <label for="email">Last Name</label>
                  <input formControlName="lastname" type="email" name="email" 
                  [ngClass]="{ 'is-invalid': submitted && formValidation['lastname'].errors }">
                  
                  <div *ngIf="submitted && formValidation['lastname'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['lastname'].errors['required']">Lastname is required</div>
                  </div>
                </div>

                <div class="field padding-bottom--18">
                  <label for="email">Contact No</label>
                  <input formControlName="phone" type="email" name="email"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['phone'].errors }">

                  <div *ngIf="submitted && formValidation['phone'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['phone'].errors['required']">Phone is required</div>
                    <div *ngIf="formValidation['phone'].errors['minlength']">
                      Phone must be at least 10 characters
                    </div>
                    <div *ngIf="formValidation['phone'].errors['maxlength']">
                      Phone must not exceed 10 characters
                    </div>
                  </div>    
                </div>

                <div class="field padding-bottom--18">
                  <label for="email">Email</label>
                  <input formControlName="email" type="email" name="email"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }">

                  <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                    <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                  </div>
                </div>

                <div class="field padding-bottom--18">
                  <div class="grid--50-50">
                    <label for="password">Password</label>
                    <!-- <div class="reset-pass">
                      <a href="#">Forgot your password?</a>
                    </div> -->
                  </div>

                  <input formControlName="password"  type="password" name="password"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['password'].errors }">

                  <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['password'].errors['required']">Password is required</div>
                  </div>
                </div>


                <div class="field padding-bottom--18">
                  <div class="grid--50-50">
                    <label for="password">Confirm Password</label>
                  </div>

                  <input formControlName="confirmPass" type="password" name="password"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['confirmPass'].errors }">

                   <div *ngIf="submitted && formValidation['confirmPass'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['confirmPass'].errors['confirmPass']">Password is required</div>
                    </div>
                </div>


                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                  <label for="checkbox">
                    <input type="checkbox" name="checkbox" > Accept T's & C's >
                      <!-- <label class="text mb-3 text-white form-check-label" for="autoSizingCheck"> -->
                  </label>
                </div>

                <div class="field padding-bottom--24">
                  <button type="submit" class="btn btn-sm" (click)="AddUser()"> REGISTER</button>
                </div>
                <!-- <div class="field">
                  <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
                </div> -->
              </form>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span>Already registered? <a class="already" href="">Login</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">©Zwiendedzi_rs</a></span>
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

</div>