    <!-- <nav class="navbar" >
      NAVBAR
    </nav> -->
    <!-- <h1 class="head" >SUV</h1>
    <h4 class="head" >TRAVEL IN COMFORT</h4>
  -->
  <div class="head">
    <h1>HATCHBACK</h1>
    </div>
    <div class="subhead">
        <h6>Travel in comfort with our HATCHBACK's</h6>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-1">
            
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Peugeot 208</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Ford Focus</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">VW Polo</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Benz C Class</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">VW Jetta</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-1">
            <div class="card">
                <img src="../../../assets/polo.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Audi A5</h5>
                  <a href="#" class="btn btn-primary">R927.00</a>
                </div>
              </div>
          </div>

        </div>
        <br>


        <!-- ROW 2 -->
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Toyota Corolla</h5>
                    <button class="btn btn-primary" >R927.00</button>

                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Mazda 3</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Toyota Corolla</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Benz AMG A45</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Nissan Altima</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-sm-1">
              <div class="card">
                  <img src="../../../assets/AMG45.jpeg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">VW Polo Vivo</h5>
                    <a href="#" class="btn btn-primary">R927.00</a>
                  </div>
                </div>
            </div>
  
          </div>

          
      </div>
