.Download-btn{
    width: 20%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px){
    .Download-btn{
        width: 50%;
    }
}

.table{
    background-color: var( --white);
}
.table-myprimary{
    background-color: var( --main-bg);
    color: var(--yellow);
    border-color: var(--main-bg);
    
}
.footer{
    width: 66%;
}
@media screen and (max-width: 768px){
    .footer{
        
        width: 98%;
    
}
}
.htmlData
{
    margin-left: 10%;
    // margin-right: 10%;
}
.btn{
background-color: var(--main-bg);
}

img{
    height: 60px;
    padding-bottom: 20px;
    margin-left: 20px;
}


