img{
    width: 80%;
    border-radius: 2%;
}
h2{
    color: #FFBE16;
}

.cardSpecNum
{
    font-style: 20px;
    font-size: 20px;
    font-weight: bold;
}

.btn{
    background-color: #F36A5F;
    border-color: none;
    border-style: none;
}