<div class="mycontainer">
    <Form [formGroup] = "UserLoginForm">
        <ul>
            <div class="d-flex justify-content-center">
            
                <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">LOGIN</h5>
                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                    </div>
                    <input formControlName="email"  style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <input formControlName="password"  style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="PASSWORD" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="col-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="text mb-3 text-white form-check-label" for="autoSizingCheck">
                        Remember me
                      </label>
                      <a href="#" class="text text-white text-decoration-none"> Forgot password</a>
                    </div>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" (click)="UserLogin()" class="btn btn-sm"> LOGIN</button>
                  </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" [routerLink]="['/register']" class="btn">REGISTER</button>
                  </div>
                </div>
              </div>
        </div>
        </ul>
    </Form>

</div>