.card{
    background: linear-gradient(180deg, rgba(255, 190,22, 0.6) 0%, rgba(217, 217, 217, 0) 100%);
    width: 431px;
    margin-top: 7rem;
    height: 350px;
}

.card-title{
    color: #ffbe16;
    font-weight: bold;
}

.mycontainer{
    background-image: url("../../../assets/bg5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
   height: 50rem;
}

.btn{
   background-color: #ffbe16; 
   color: white;
   font-weight: bold;
}

.login{
    color: #ffbe16; 
    font-weight: bold;
    display: flex;
    
}

input {
    font-size: small;
}

.input-group-text{
    font-size: small;
}

.text{

    font-weight: lighter;
    font-size: small; 
}

.input-group{
    width: 319px;
}

.card-body{
    display: grid;
    justify-content: center;
    align-items: center;
}

.label{
    display: flex;
}

.form-check{
    display: flex;
    justify-content: space-between;
}

