.my-container
{
    // background-image: url('../../../assets/bg5.jpg');
    background-size: cover;
    width: 102%;
    // height: 900px;

}
.navbar button
{
    color: #FFBE16;
    // background-color: orange;
}
.navbar i{
    font-size: 25px;
}
.orange-color
{
    color: #FFBE16;
}
.rent-text{
    margin-top: -11px;
}
.text{
    font-weight: bold;
    font-size: medium;
    margin-left: -20rem;

}
.text1{
    font-weight: bold;
    font-size: medium;
    margin-left: 5rem;

}