<div class="container">
    <h1>Create New Post</h1>
  
    <a href="#" routerLink="/carlist" class="btn btn-primary">Back</a>
    
    <form [formGroup]="CarForm" novalidate>
  
        <div class="form-group">
            <label for="carName">CarName:</label>
            <input 
                formControlName="carName"
                id="carName" 
                type="text" 
                class="form-control">
        </div>
  
        <div class="form-group">
            <label class="form-label" for="customFile">Car Image</label>
            <input type="file" class="form-control" id="customFile" formControlName="carImg" (change)="onFileChange($event)"/>
        </div>

        <div class="form-group">
            <label for="model">model:</label>
            <input 
                formControlName="model"
                id="model" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="numberPlate">numberPlate:</label>
            <input 
                formControlName="numberPlate"
                id="numberPlate" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="make">make:</label>
            <input 
                formControlName="make"
                id="make" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="price">price:</label>
            <input 
                formControlName="price"
                id="price" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">

            <div class="row">
                <label for="inputPassword" class="col-lg-12 col-sm-12 col-form-label">
                  Company brunch</label>
                <div class=" col-lg-12 col-sm-12">
                    <select id="companyID" class="form-control" formControlName="companyID">
                        <option [ngClass]="null" selected>Select Location...</option>
                        <option *ngFor="let cp of company" value='{{cp.companyID}}'>{{cp.companyName}}</option>
                      </select>
                </div>
            </div>


        </div>

        <div class="form-group">
            <label for="category">category:</label>

                <select id="category" class="form-control" formControlName="category">
                    <option [ngClass]="null" selected>Select status...</option>
                    <option value='SUV'>SUV</option>
                    <option value='HATCHBACK'>HATCHBACK</option>
                    <option value='SEDAN'>SEDAN</option>
                </select>
        </div>

        <div class="form-group">
            <label for="status">status:</label>

            <select id="status" class="form-control" formControlName="status">
                <option [ngClass]="null" selected>Select status...</option>
                <option value='Available'>Available</option>
                <option value='Not-Available'>Not-Available</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fuelType">fuelType:</label>

                <select id="fuelType" class="form-control" formControlName="fuelType">
                    <option [ngClass]="null" selected>Select status...</option>
                    <option value='Petrol'>Petrol</option>
                    <option value='Diesel'>Diesel</option>
                </select>
        </div>

        <div class="form-group">
            <label for="horsePower">horsePower:</label>
            <input 
                formControlName="horsePower"
                id="horsePower" 
                type="text" 
                class="form-control">
        </div>
  

        <div class="form-group">
            <label for="speedPerSec">speedPerSec:</label>
            <input 
                formControlName="speedPerSec"
                id="speedPerSec" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="topSpeed">topSpeed:</label>
            <input 
                formControlName="topSpeed"
                id="topSpeed" 
                type="text" 
                class="form-control">
           
        </div>
        <div>
            <button type="submit" (click)="postCar()" class="btn btn-sm"> SUBMIT</button>
        </div>
        

    </form>
</div>