<div class="container my-5">
    
  <div class="header">
    <h1 class="pt-4">Car list</h1>
  </div>

    <a href="#" routerLink="/admin/car" class="btn btn-success mb-4 mt-4">Add New Car</a>
      
    <table class="table table-striped table-responsive table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
              <tr>
                <th>#</th>
                <th>Car Name</th>
                <th>Car Image</th>
                <th>Model</th>
                <th>Number Plate</th>
                <th>Make</th>
                <th>Price</th>
                <th>Company ID</th>
                <th>Category</th>
                <th>Status</th>
                <th>Fuel Type</th>
                <th>Horse Power</th>
                <th>Speed Per Sec</th>
                <th>Top Speed</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <!-- <tr *ngFor="let car of cars"> -->
                <tr *ngFor="let car of cars">
                  <td>{{car.id}}</td>
                <td>{{ car.carName }}</td>
                <td>
                  <div class="carImg">
                    <img src="{{ car.carImage }}">
                  </div>
                </td>
                <td>{{ car.model }}</td>
                <td>{{ car.numberPlate }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.companyID }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.status }}</td>
                <td>{{ car.fuelType }}</td>
                <td>{{ car.horsePower }}</td>
                <td>{{ car.speedPerSec }}</td>
                <td>{{ car.topSpeed }}</td>
                <td>
                  <div>

                  <button type="edit" [routerLink]="['/admin/editCar',car.id]"class="bi bi-pen-fill btn btn-primary">Edit</button>
                  <br>
                  <br>
                  
                  <button type="delete" class="bi bi-trash3-fill btn btn-danger" (click)='deleteCar(car.id)'><i class="bi bi-trash3-fill"></i>delete</button>
                  
                  </div>
                  
                  <!-- <button type="button" (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button> -->
                </td>
              </tr>
        </tbody>
    </table>
 </div>

 <ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "large" color = "#ffbe16" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
    