.carImg
{
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 70%;
}

.header
{
    background-color: var(--main-bg);
    border-radius: 15px;
    height: 120px;
    color: var(--white);
    text-align: center;
}