/* You can add global styles to this file, and also import other style files */
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

:root{
    --main-bg:#08013a;
    --white:#ffffff;
    --gray:#72788B;
    --yellow:#FFBE16;
  }

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
