.nav
{
    height: 48px;
    position: static;
}
.profile-img
{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-img img{
    height: 100%;
    max-width: 100%;
    // margin: auto;
    border-radius: 100%;
    object-fit: cover;
}

.logo-img
{
    height: 30px;
    padding-left: 10px;
}
.dropdown
{
    margin-right: 40px;
}
.dropdown-menu
{
    margin-right: 150px;
    padding-right: 100px;
}

.dropdown-menu a
{
    margin-left: 10px;
    text-decoration: none;
}
.dropdown-menu .profile-img
{
    margin-left: 10px;
    // margin-top: 10px;
    text-decoration: none;
}

.dropdown-menu .profile-info
{
    margin-left: 6px;
    margin-top: -6px;
}