
.car{
    width: 20rem;
    height: 15rem;
    margin-left: 20%;
    margin-left: 20%;
    border-radius: 4rem;
}

.line1{
    
    background-color: #08013a;
    height: 0.3rem;
}

.para{
    text-align: center;
    font-size: 22px;
}

.row{
    margin-top: 2rem;
}

.sec{
    width: 100vw;
}

.mid{
    background-color: #08013a;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.box{
    width: 30rem;
    font-size: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.drive{
    color:  #FFBE16;
    margin-top: -5rem;
    font-size: 40px;
}

.comfy{
    font-size: 20px;
    font-style: italic;
    color: grey;
}
h6{
    font-size: 20px;
}