<!-- <div class="container"> -->
 
<!-- </div> -->

<!-- ============================================================== -->

<!-- 
<div class="p-4">
      
      <section class="sect">
        <div class="row">
          <div class="col">
            <div
            >
              <img
                src="https://images.unsplash.com/photo-1501432062811-61cbb25811dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                class="w-100"
              />
            </div>
          </div>
          <div class="col">
            <div
            >
              <img
                src="https://images.unsplash.com/photo-1484373030460-8de45ac8796d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                class="w-100"
              />
            </div>
          </div>
          <div class="col">
            <div
            >
              <img
                src="https://images.unsplash.com/photo-1604657645490-c228a616c7ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                class="w-100"
              />
            </div>
          </div>
        </div>




   
      <div class="row">
        <div class="col-sm">
          <img  class="car" src="../../../assets/AMG45.jpeg">
          <hr class="line1">
          <p  class="para">
            PARGO ENABLED US TO HAVE A VAST FOOTPRINT OF COLLECTION POINTS NEAR OUR CUSTOMERS.

THE SOLUTION WAS QUICK TO DEPLOY AND THE CUSTOMER’S FEEDBACK WERE POSITIVE. WE NOW OFFER COLLECTION OF PARCELS AT MORE LOCATIONS, WITH BETTER COMMUNICATION AND EXTENDED COLLECTION TIMES.
          </p>
          <hr class="line1">
        </div>
        <div class="col-sm">
          <img  class="car"  src="../../../assets/AMG45.jpeg">
          <hr class="line1">
          <p class="para" >
            PARGO ENABLED US TO HAVE A VAST FOOTPRINT OF COLLECTION POINTS NEAR OUR CUSTOMERS.
THE SOLUTION WAS QUICK TO DEPLOY AND THE CUSTOMER’S FEEDBACK WERE POSITIVE. WE NOW OFFER COLLECTION OF PARCELS AT MORE LOCATIONS, WITH BETTER COMMUNICATION AND EXTENDED COLLECTION TIMES.
          </p>
          <hr class="line1">
        </div>
    
    
    </div>
      </section>
     

    </div> -->

    <div class="mid">
    <div class="box">
      <h3 class="drive"> Drive <span class="comfy">in comfort.</span></h3>
      <h6>Sometimes the best therapy is a long drive to nowhere just to clear the mind. Refuel your soul, love.</h6><br>
      
    </div>
 
    </div>




  

    
