<div class="mycontainer w-100">
    <Form [formGroup] = "EditUserForm" novalidate> 
        <ul>
            <div class="d-flex justify-content-center mx-auto">
            
                <div class="card text-center mt-5">
                <div class="card-body">
                  <h5 class="card-title">UPDATE USER DETAILS</h5>
                    <div class="input-group col-auto mb-3">
                        <div class="input-group-prepend">
                          <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input formControlName="firstname" 
                        style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="FIRST NAME"  aria-describedby="basic-addon1"
                        [ngClass]="{ 'is-invalid': submitted && formValidation['firstname'].errors }"
                        />

                        <div *ngIf="submitted && formValidation['firstname'].errors" class="invalid-feedback">
                          <div *ngIf="formValidation['firstname'].errors['required']">Firstname is required</div>
                        </div>
                    </div>

                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                    </div>
                    <input formControlName="lastname"  style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="LAST NAME" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['lastname'].errors }"
                    />

                    <div *ngIf="submitted && formValidation['lastname'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['lastname'].errors['required']">Lastname is required</div>
                    </div>
                  </div>

                  <div class="input-group col-auto mb-3">
                    <div class="input-group-prepend">
                      <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                    </div>
                    <input formControlName="phone" class="font-weight-light form-control" placeholder="PHONE" 
                    [ngClass]="{ 'is-invalid': submitted && formValidation['phone'].errors }"
                    />
                    <div *ngIf="submitted && formValidation['phone'].errors" class="invalid-feedback">
                      <div *ngIf="formValidation['phone'].errors['required']">Phone is required</div>
                      <div *ngIf="formValidation['phone'].errors['minlength']">
                        Phone must be at least 10 characters
                      </div>
                      <div *ngIf="formValidation['phone'].errors['maxlength']">
                        Phone must not exceed 10 characters
                      </div>
                    </div>
                </div>

                <div class="input-group col-auto mb-3">
                  <div class="input-group-prepend">
                    <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                  </div>
                  <input formControlName="email" style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL"
                  [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"
                  />
                  <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                    <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                    <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                  </div>

              </div>
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn" (click)="UpdateUser()">SAVE CHANGES</button>
                  </div>
                </div>
              </div>
        </div>
        </ul>
    </Form>
</div>



