<div class="mycontainer">
    <Form [formGroup] = "EditUserForm" novalidate> 

      <div class="row mt-5">
        <div class="header">
          <h1 class="pt-4">Update User Details</h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group col-auto mb-3">
              <div class="input-group-prepend">
                <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
              </div>
              <input formControlName="firstname" 
              style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="FIRST NAME"  aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && formValidation['firstname'].errors }"
              />

              <div *ngIf="submitted && formValidation['firstname'].errors" class="invalid-feedback">
                <div *ngIf="formValidation['firstname'].errors['required']">Firstname is required</div>
                <div *ngIf="formValidation['first name'].errors['minlength']">
                  first name must be at least 2 characters or more
                </div>
              </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group col-auto mb-3">
            <div class="input-group-prepend">
              <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
            </div>
            <input formControlName="lastname"  style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="LAST NAME" 
            [ngClass]="{ 'is-invalid': submitted && formValidation['lastname'].errors }"
            />

            <div *ngIf="submitted && formValidation['lastname'].errors" class="invalid-feedback">
              <div *ngIf="formValidation['lastname'].errors['required']">Lastname is required</div>
              <div *ngIf="formValidation['lastname'].errors['minlength']">
                last name must be at least 2 characters or more
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group col-auto mb-3">
            <div class="input-group-prepend">
              <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
            </div>
            <input formControlName="phone" class="font-weight-light form-control" placeholder="PHONE" 
            [ngClass]="{ 'is-invalid': submitted && formValidation['phone'].errors }"
            />
            <div *ngIf="submitted && formValidation['phone'].errors" class="invalid-feedback">
              <div *ngIf="formValidation['phone'].errors['required']">Phone is required</div>
              <div *ngIf="formValidation['phone'].errors['minlength']">
                Phone must be at least 10 characters
              </div>
              <div *ngIf="formValidation['phone'].errors['maxlength']">
                Phone must not exceed 10 characters
              </div>
            </div>
        </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group col-auto mb-3">
            <div class="input-group-prepend">
              <span style="background-color: #fff;border: none;"class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
            </div>
            <input formControlName="email" style="border-left: none;" type="text" class="font-weight-light form-control" placeholder="E-MAIL"
            [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"
            />
            <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
              <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
              <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
            </div>

        </div>
        </div>

      </div>
            <div class="d-flex justify-content-center mx-auto">
            
                <div class=" text-center mt-5">
                  <div class="mb-3 col-auto">
                    <button type="submit" class="btn btn-warning" (click)="UpdateUser()">SAVE CHANGES</button>
                  </div>

                  <div class="mb-3 col-auto">
                    <button [routerLink]="['/admin/users']" type="submit" class="btn btn-warning">Back</button>
                  </div>
              </div>
        </div>
    </Form>
</div>
<ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "large" color = "#ffbe16" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
