

<div class="container my-4">
    

    <div class="header">
        <h1 class="pt-4">Update car</h1>
      </div>

  
    
    <br>
    <br>
    
<form [formGroup]="CarForm" novalidate>


    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-label" for="customFile">Car Image</label>
      <input type="file" class="form-control" id="customFile" formControlName="carImg" (change)="onFileChange($event)"/>
      
        </div>
        <div class="form-group col-md-4">
            <label for="carName">CarName:</label>
          <input 
              formControlName="carName"
              id="carName" 
              type="text" 
              class="form-control">
        </div>
  
        <div class="form-group col-md-4">
            <label for="model">model:</label>
          <input 
              formControlName="model"
              id="model" 
              type="text" 
              class="form-control">
        </div>
      </div>





  <div class="form-row">
      <div class="form-group col-md-4">
          <label for="numberPlate">numberPlate:</label>
          <input 
              formControlName="numberPlate"
              id="numberPlate" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="make">make:</label>
          <input 
              formControlName="make"
              id="make" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="price">price:</label>
          <input 
              formControlName="price"
              id="price" 
              type="text" 
              class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="companyID">companyID:</label>
          <input 
              formControlName="companyID"
              id="companyID" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="category">category:</label>
          <input 
              formControlName="category"
              id="category" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="status">status:</label>
          <input 
              formControlName="status"
              id="status" 
              type="text" 
              class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
          <label for="fuelType">fuelType:</label>
          <input 
              formControlName="fuelType"
              id="fuelType" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="horsePower">horsePower:</label>
          <input 
              formControlName="horsePower"
              id="horsePower" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
    </div>
    <div>
        <div class="d-flex justify-content-center mx-auto">
            
            <div class=" text-center mt-5">
              <div class="mb-3 col-auto">
                <button type="submit" (click)="EditCar()" class=" submit btn btn-primary"> SUBMIT</button> 
              </div>

              <div class="mb-3 col-auto">
                <a routerLink="/admin/carlist" class="submit btn btn-primary justify-content-end">Back</a>
              </div>
          </div>
    </div>
        
    </div>














    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button> -->
  

<!-- <div class="container my-4">
    <h1>Update car</h1>
  
    <a href="#" routerLink="/carlist" class="btn btn-primary">Back</a>
    
    <form [formGroup]="CarForm" novalidate>
  
        <div class="form-group">
            <label for="carName">CarName:</label>
            <input 
                formControlName="carName"
                id="carName" 
                type="text" 
                class="form-control">
        </div>
  
        <div class="form-group">
            <label class="form-label" for="customFile">Car Image</label>
            <input type="file" class="form-control" id="customFile" formControlName="carImg" (change)="onFileChange($event)"/>
        </div> 

        <div class="form-group">
            <label for="model">model:</label>
            <input 
                formControlName="model"
                id="model" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="numberPlate">numberPlate:</label>
            <input 
                formControlName="numberPlate"
                id="numberPlate" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="make">make:</label>
            <input 
                formControlName="make"
                id="make" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="price">price:</label>
            <input 
                formControlName="price"
                id="price" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="companyID">companyID:</label>
            <input 
                formControlName="companyID"
                id="companyID" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="category">category:</label>
            <input 
                formControlName="category"
                id="category" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="status">status:</label>
            <input 
                formControlName="status"
                id="status" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="fuelType">fuelType:</label>
            <input 
                formControlName="fuelType"
                id="fuelType" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="horsePower">horsePower:</label>
            <input 
                formControlName="horsePower"
                id="horsePower" 
                type="text" 
                class="form-control">
        </div>
  

        <div class="form-group">
            <label for="speedPerSec">speedPerSec:</label>
            <input 
                formControlName="speedPerSec"
                id="speedPerSec" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="topSpeed">topSpeed:</label>
            <input 
                formControlName="topSpeed"
                id="topSpeed" 
                type="text" 
                class="form-control">
           
        </div>
        <div>
            <button type="submit" (click)="EditCar()" class="btn btn-sm"> SUBMIT</button>
        </div> -->
        

    <!-- </form>
</div> --> 
<!-- <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form-label" for="customFile">Car Image</label>
      <input type="file" class="form-control" id="customFile" formControlName="carImg" (change)="onFileChange($event)"/>
      <label for="carName">CarName:</label>
          <input 
              formControlName="carName"
              id="carName" 
              type="text" 
              class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="carName">CarName:</label>
      <input 
          formControlName="carName"
          id="carName" 
          type="text" 
          class="form-control">
      
    </div>

    <div class="form-group col-md-4">
      <label for="model">model:</label>
          <input 
              formControlName="model"
              id="model" 
              type="text" 
              class="form-control">
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-4">
          <label for="numberPlate">numberPlate:</label>
          <input 
              formControlName="numberPlate"
              id="numberPlate" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="make">make:</label>
          <input 
              formControlName="make"
              id="make" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="price">price:</label>
          <input 
              formControlName="price"
              id="price" 
              type="text" 
              class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="companyID">companyID:</label>
          <input 
              formControlName="companyID"
              id="companyID" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="category">category:</label>
          <input 
              formControlName="category"
              id="category" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="status">status:</label>
          <input 
              formControlName="status"
              id="status" 
              type="text" 
              class="form-control">
      </div>
    </div>
    <div class="form-row"> -->
      <!-- <div class="form-group col-md-3">
          <label for="fuelType">fuelType:</label>
          <input 
              formControlName="fuelType"
              id="fuelType" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="horsePower">horsePower:</label>
          <input 
              formControlName="horsePower"
              id="horsePower" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
    </div>






<form [formGroup]="CarForm" novalidate>
  
   <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div> -->
  <!-- <div class="form-row">
    <div class="form-group col-md-4">
      <label for="carName">CarName:</label>
          <input 
              formControlName="carName"
              id="carName" 
              type="text" 
              class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="customFile">Car Image</label>
      <input type="file" class="form-control" id="customFile" formControlName="carImg" (change)="onFileChange($event)"/>
    </div>

    <div class="form-group col-md-4">
      <label for="model">model:</label>
          <input 
              formControlName="model"
              id="model" 
              type="text" 
              class="form-control">
    </div>
  </div> -->

  <!-- <div class="form-row">
      <div class="form-group col-md-4">
          <label for="numberPlate">numberPlate:</label>
          <input 
              formControlName="numberPlate"
              id="numberPlate" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="make">make:</label>
          <input 
              formControlName="make"
              id="make" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="price">price:</label>
          <input 
              formControlName="price"
              id="price" 
              type="text" 
              class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="companyID">companyID:</label>
          <input 
              formControlName="companyID"
              id="companyID" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-4">
          <label for="category">category:</label>
          <input 
              formControlName="category"
              id="category" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-4">
          <label for="status">status:</label>
          <input 
              formControlName="status"
              id="status" 
              type="text" 
              class="form-control">
      </div>
    </div> -->
    <!-- <div class="form-row">
      <div class="form-group col-md-3">
          <label for="fuelType">fuelType:</label>
          <input 
              formControlName="fuelType"
              id="fuelType" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="horsePower">horsePower:</label>
          <input 
              formControlName="horsePower"
              id="horsePower" 
              type="text" 
              class="form-control">
      </div>

      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
      <div class="form-group col-md-3">
          <label for="speedPerSec">speedPerSec:</label>
          <input 
              formControlName="speedPerSec"
              id="speedPerSec" 
              type="text" 
              class="form-control">
      </div>
    </div>
    </form> --> 
